.container {
    margin: auto;
    margin-top: 50px;
    width: clamp(375px, 80%, 1000px); 
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    -webkit-box-shadow: 7px 7px 29px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px 7px 29px -8px rgba(0,0,0,0.4);
    box-shadow: 7px 7px 29px -8px rgba(0,0,0,0.4);
}

/* First half of container */
.first-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px 30px 30px;
    border-radius: 25px 25px 25px 25px;
    background-image: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    color: white;
}

.status-text {
    font-size: 34px;
}

.circle-result {
    width: clamp(170px, 23vw, 250px);
    height: clamp(170px, 23vw, 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
}

.number-result {
    font-size: 70px;
    font-weight: 800;
}

.description-result {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}

.generic-text {
    color: hsl(241, 100%, 89%);
}

/* Second half of container */
.sumary-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    padding: 10px 40px 10px 40px;
    background-color: white;
}

.text-sumary {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.cards-sumary {
    width: 100%;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards {
    height: 6.6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}

.number-card {
    display: flex;
    color: hsl(224, 30%, 27%);
}

.number-100 {
    color: gray;
    padding: 0px 0px 0px 8px;
}

.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 10%);
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 10%);
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color:hsla(166, 100%, 37%, 10%);
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color:  hsla(234, 85%, 45%, 10%);
}


.btn-sumary {
    width: 100%;
    height: 7vh;
    border-radius: 80px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: hsl(224, 30%, 27%);
    cursor: pointer;
}

.btn-sumary:hover {
    background-image: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

/* Respondiveness in Mobile */
@media (min-width: 300px) and (max-width: 600px) {
    .container {
        margin: 0;
        width: 100%;
        height: 450px;
        box-shadow: none;
    }

    .first-section {
        width: 100%;
        border-radius: 0px 0px 50px 50px;
    }

    .sumary-section {
        width: 100%;
        border-radius: 0px;
    }

    .cards-sumary {
        height: 48vh;
    }

    .cards {
        height: 10vh;
    }

    .btn-sumary {
        height: 12vh;
    }
}

/* Respondiveness in Desktop */
@media (min-width: 1000px) {
    .container {
        height: 500px;
    }

    .number-result {
        font-size: 90px;
    }

    .status-text {
        font-size: 40px;
    }

    .generic-text {
        font-size: 22px;
    }

    .cards-sumary {
        height: 28vh
    }

    .cards {
        height: 6vh;
    }

    .btn-sumary {
        height: 6.5vh;
    }
}

@media (min-width: 1300px){
    .container {
        height: 600px;
    }

    .generic-text {
        font-size: 28px;
    }

    .description-result {
        font-size: 24px;
    }

    .text-sumary {
        font-size: 30px;
    }

    .cards-sumary {
        height: 28vh;
    }

    .cards {
        height: 5.8vh;
        font-size: 24px;
    }

    .btn-sumary {
        font-size: 26px;
    }
}